<div class="product"  *ngFor="let product of products">
    <div class="content">
        <div class="img" style="background-image: url({{product.img}})"></div>
        <div class="content-cont">
            <h3 style="color: #1C1C1C">{{product.name}}</h3>
            <p style="color: #8B96A5">Size: {{product.size}} Color: {{product.color}} Material: {{product.material}}</p>
            <p>Seller: {{product.seller}}</p>
            <div class="btns">
                <button (click)="delete(product.id)">Remove</button>
                <button>Save for later</button>
            </div>
        </div>
    </div>

    <div class="cost">
        <h3 *ngIf="product.quantity === 1">$ {{product.price.toFixed(2)}}</h3>
        <h3 *ngIf="product.quantity > 1">$ {{product.totalPrice.toFixed(2)}}</h3>
        <input type="number" [(ngModel)]="product.quantity" (ngModelChange)="ngOnChange(product.id)" min="1">
    </div>
</div>

<p *ngIf="products.length === 0">No products available.</p>